:root {
    --background-color: #1E1E1E;
    --accent-color: #E1CEAB;
    --secundary-color: #ADADAD;
    --text-color: #E0E0E0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

.bg-home {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    height: 962px;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), var(--background-color)), url('../assets/image/img-fundo-pc.png');
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

header {
    position: relative;
}

/* ------------------ NAV SECTION ------------------ */

header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .nav-bar .logo-img {
    max-width: 142px;
    margin-left: 32px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list .nav-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-itens .nav-item>a {
    color: var(--text-color);
    text-decoration: none;
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
}

.nav-itens .nav-item>a:hover {
    color: var(--accent-color);
}

.nav-item a>i {
    color: var(--accent-color);
}

.schedule-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
    margin-right: 32px;
}

.nav-instagram {
    font-size: 43px;
}

.nav-instagram>a {
    color: var(--accent-color);
}

.nav-instagram:hover {
    animation: translateY 0.8s forwards;
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-2px) scale(1.1);
    }
}

.schedule-container .schedule button {
    padding: 16px 24px;
    font-size: 1em;
    background-color: var(--accent-color);
    color: #000000;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.schedule-container .schedule button:hover {
    animation: translateY 0.8s forwards;
}

@media screen and (max-width: 1130px) {
    header .nav-bar .logo-img {
        width: 100px;
        margin-left: 1rem;
    }

    .nav-list {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--background-color);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-items: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }

    .nav-bar .nav-list .nav-itens {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10;
    }

    .nav-item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .25rem;
    }

    .nav-item a>i {
        font-size: 1.25rem;
    }

    .nav-name {
        font-size: .75rem;
    }

    .schedule-container {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .bg-home {
        height: 740px;
    }

    .bg-home::before {
        background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), var(--background-color)), url('../assets/image/img-fundo-celular.png');
    }

    .nav-bar .nav-list .nav-itens {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 0;
    }
}

/* ------------------ HERO SECTION ------------------ */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 42px;
    width: 100%;
    max-width: 532px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    color: var(--text-color);
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: .10em;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
}

.hero-title span {
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
}

.hero-subtitle {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 3.5em;
    font-weight: 600;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
    width: 100%;
}

.hero-schedule a > button {
    background: none;
    border: solid 2px var(--accent-color);
    outline: solid 2px var(--accent-color);
    outline-offset: 2px;
    padding: .6rem 2.2rem;
    color: var(--text-color);
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

.hero-schedule a > button:hover {
    background-color: var(--accent-color);
    color: #000000;
    animation: translateY 0.6s forwards;
}

@media screen and (max-width: 475px) {
    .bg-home {
        align-items: center;
    }

    .hero {
        width: 100%;
        max-width: 432px;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-title span {
        font-size: 1.5rem;
    }

    .hero-subtitle {
        font-size: 2.5rem;
    }
}

/* ------------------ INFO SECTION ------------------ */

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.informations-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 248px;
    width: 100%;
}

.info-logo {
    font-size: 43px;
    color: var(--accent-color);
}

.information {
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

.information-main {
    color: var(--text-color);
    text-align: center;
}

.info-name {
    color: var(--secundary-color);
    font-size: 14px;
    text-align: center;
}