:root {
    --background-color: #1E1E1E;
    --accent-color: #E1CEAB;
    --secundary-color: #ADADAD;
    --text-color: #E0E0E0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
}

.bg-home {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    height: 962px;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), var(--background-color)), url('../assets/image/img-fundo-pc.png');
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

header {
    position: relative;
}

/* ------------------ NAV SECTION ------------------ */

header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .nav-bar .logo-img {
    max-width: 142px;
    margin-left: 32px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list .nav-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-itens .nav-item>a {
    color: var(--text-color);
    text-decoration: none;
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
}

.nav-itens .nav-item>a:hover {
    color: var(--accent-color);
}

.nav-item a>i {
    color: var(--accent-color);
}

.schedule-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
    margin-right: 32px;
}

.nav-instagram {
    font-size: 43px;
}

.nav-instagram>a {
    color: var(--accent-color);
}

.nav-instagram:hover {
    animation: translateY 0.8s forwards;
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-2px) scale(1.1);
    }
}

.schedule-container .schedule button {
    padding: 16px 24px;
    font-size: 1em;
    background-color: var(--accent-color);
    color: #000000;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.schedule-container .schedule button:hover {
    animation: translateY 0.8s forwards;
}

@media screen and (max-width: 1130px) {
    header .nav-bar {
        padding: 0 1rem;
    }

    header .nav-bar .logo-img {
        width: 100px;
        margin-left: 0;
    }

    .nav-list {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--background-color);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-items: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
        z-index: 1;
    }

    .nav-bar .nav-list .nav-itens {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10;
    }

    .nav-item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .25rem;
    }

    .nav-item a>i {
        font-size: 1.25rem;
    }

    .nav-name {
        font-size: .75rem;
    }

    .schedule-container {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .bg-home {
        height: 740px;
    }

    .bg-home::before {
        background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), var(--background-color)), url('../assets/image/img-fundo-celular.png');
    }

    .nav-bar .nav-list .nav-itens {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 0;
    }
}

/* ------------------ HERO SECTION ------------------ */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 42px;
    width: 100%;
    max-width: 532px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    color: var(--text-color);
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: .10em;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
}

.hero-title span {
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
}

.hero-subtitle {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 3.5em;
    font-weight: 600;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
    width: 100%;
}

.hero-schedule a > button {
    background: none;
    border: solid 2px var(--accent-color);
    outline: solid 2px var(--accent-color);
    outline-offset: 2px;
    padding: .6rem 2.2rem;
    color: var(--text-color);
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

.hero-schedule a > button:hover {
    background-color: var(--accent-color);
    color: #000000;
    animation: translateY 0.6s forwards;
}

@media screen and (max-width: 475px) {
    .bg-home {
        align-items: center;
    }

    .hero {
        width: 100%;
        max-width: 432px;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-title span {
        font-size: 1.5rem;
    }

    .hero-subtitle {
        font-size: 2.5rem;
    }
}

/* ------------------ INFO SECTION ------------------ */

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    gap: 70px;
}

.informations-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 248px;
    width: 100%;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
}

.info-logo {
    font-size: 43px;
    color: var(--accent-color);
}

.information {
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

.information-main {
    color: var(--text-color);
    text-align: center;
}

.info-name {
    color: var(--secundary-color);
    font-size: 14px;
    text-align: center;
}

/* ------------------ CARDS SECTION ------------------ */

.cards-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 79px 192px; /* espaço entre os cards */
    width: 100%;
}

.card {
    display: flex;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
}

.card:hover {
    cursor: pointer;
    animation: translateCardY 0.8s forwards;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-align: center;
    border: solid 2px var(--accent-color);
    outline: solid 2px var(--accent-color);
    outline-offset: 2px;
    border-radius: 2px;
    max-width: 345px;
    width: 100%;
    height: 345px;
    margin: 1rem;
    gap: 1rem;
}

.card-icon {
    font-size: 50px;
}

.card-main-info {
    font-size: 20px;
}

.card-secundary-info {
    color: var(--secundary-color);
    font-size: 14px;
}

@keyframes translateCardY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(0) scale(1.03);
    }
}

@media screen and (max-width: 1130px) {
    .informations-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 27px;
    }

    .cards {
        grid-template-columns: 1fr;
    }   
}

/* ------------------ PRESENTATION SECTION ------------------ */

.presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 100vw;
    height: auto;
    margin-top: 2rem;
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 111px;
    margin: 1rem;
}

.presentation-image-container {
    width: 100%;
    max-width: 582px;
    position: relative;
}

.presentation-imagem > img {
    display: block;
    width: 100%;
}

.presentation-image-container .line-border {
    position: absolute;
    top: 7%;
    left: 10%;
    width: 80%;   /* ocupa 80% da largura da imagem */
    height: 70%;  /* ocupa 80% da altura da imagem */
    border: 2px solid var(--accent-color);
}

.presentation-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 656px;
    position: relative;
    gap: 24px;
    text-shadow: 0px 1px 4px rgba(104, 104, 104, 0.71);
}

.presentation-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.presentation-text {
    font-size: 1.5rem;
}

.presentation-schedule a > button {
    padding: 16px 24px;
    font-size: 1em;
    background-color: var(--accent-color);
    color: #000000;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.presentation-schedule a > button:hover {
    animation: translateY 0.8s forwards;
}

@media screen and (max-width: 600px) {
    .presentation-image-container .line-border {
          top: 5%;
          left: 10%;
          width: 80%;
          height: 70%;
    }
}

/* ------------------ ASSESSMENT SECTION ------------------ */

.assessment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.assessment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 67px;
    gap: 148px;
}

.assessment-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.line-small {
    width: 96px;
    height: 2px;
    background-color: var(--accent-color);
}

.line-big {
    width: 128px;
    height: 2px;
    background-color: var(--accent-color);
}

.assessment-title {
    font-size: 1rem;
    text-align: center;
    border: 2px solid var(--accent-color);
    padding: .6rem 2.2rem;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.assessment-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.assessment-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.assessment-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--accent-color);
    outline: solid 2px var(--accent-color);
    outline-offset: 2px;
    border-radius: 2px;
    padding: 1rem;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.71);
    max-width: 345px;
    width: 100%;
    height: 323px;
    gap: 27px;
}

.assessment-text {
    color: var(--secundary-color);
    text-align: center;
}

.assessment-stars-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
}

.assessment-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--text-color);
}

.assessment-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.stars-container {
    color: var(--accent-color);
}

.assessment-stars p {
    color: var(--text-color);
}

/* ------------------ SLIDE SECTION ------------------ */

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem;
}

.slider {
    overflow-x: hidden;
    width: 360px;
    border-radius: 6px;
    scroll-behavior: smooth;
}

.slider-content {
    display: flex;
    width: fit-content;
}

.slider-content img {
    width: 360px;
    height: 600px;
    object-fit: cover;
}

.slide-container button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--accent-color);
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.slide-container button:first-of-type {
    left: 0;
    transform: translate(-50%, -50%);
}

.slide-container button:last-of-type {
    right: 0;
    transform: translate(50%, -50%);
}

.slide-container button:hover {
    background-color: #d1c09f;
}

#previousSlide, #nextSlide {
    box-shadow: 0px 2px 6px rgba(0,0,0,0.71);
}

.length-dots {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 200%);
    display: flex;
    gap: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
}

.dot.current {
    background-color: var(--accent-color);
}

@media screen and (max-width: 475px) {
    .slider {
        width: 230px;
    }

    .slider-content img {
        width: 230px;
        height: 470px;
    }

    .slide-container button {
        width: 40px;
        height: 40px;
    }
}

/* ------------------ FOOTER SECTION ------------------ */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.footer-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 115px;
    width: 100%;
    max-width: 1440px;
}

.footer-logo-container > .footer-logo {
    max-width: 184px;
    width: 100%;
}

.footer-text > p {
    color: var(--secundary-color);
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.footer-nav-item > a {
    color: var(--secundary-color);
    text-decoration: none;
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer-line { 
    max-width: 1440px;
    width: 100%;
    height: 2px;
    background-color: var(--secundary-color);
}

.footer-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 115px;
    width: 100%;
    max-width: 1440px;
}

.footer-instagram > a, .footer-whatsapp > a {
    display: flex;
    gap: 12px;
    font-size: 1.5em;
    color: var(--secundary-color);
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (max-width: 1130px) {
    #footer {
        margin-bottom: 6rem;
    }

    .footer-up {
        flex-direction: column;
        gap: 30px;
    }

    .footer-down {
        justify-content: space-around;
        gap: 0;
    }
}

@media screen and (max-width: 380px) {
    .footer-instagram > a, .footer-whatsapp > a {
        font-size: 1em;
    }
}

/* ------------------ ANIMATION SCROLL ------------------ */

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-5%);
    transition: all .7s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}